PORT=5000

# Twelve Data API Keys
TWELVE_DATA_KEY_1=
TWELVE_DATA_KEY_2=

# NewsAPI
NEWS_API_KEY=

# Google Gemini
GEMINI_API_KEY=

# Firebase Firestore (Admin SDK)
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
